  /*import fonts*/
  @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
 
        /* the * alters all css*/
  *{ margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    }
  /*styling the contact section*/
 .contact-section body {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    }
    .qs-h1 {
            width: 100px;
            align-items: left;
            display: flex;
            /*flex wrap makes the page responsive by allowing items to stack on top of each other*/
            flex-wrap: wrap;
           
        }
        #navbar {
            /* fonts are being imported*/
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            display: flex;
            align-items:center;
            justify-content: space-between;
            /* box shadow creates a shadow around the element and makes the website more attractive*/
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            /* margin is used to create space around elements, outside of any defined borders*/
            margin: 0px;
            padding: 20px;
            margin-bottom: 5rem;
        }
        #main-title {
            margin: 0px;
            border: solid 5px white;
            padding: 0.5rem;
            /* border radius creates a rounded edge*/
            border-radius: 5px;
            /* transitions provide a way to control animation speed when changing the properties.*/
            transition: 500ms;
            color: green;
        }
        #main-title:hover {
            /*SOLID means displaying a single, straight, solid line. this just makes the title more pronounced when hovered over*/
            border: solid 5px black;
            color: black;
        }
        a {
            text-decoration: none;;
            font-weight: normal;
            font-size: 1.3rem;
            margin-left: 1.2rem;
            color: gray;
              /* transitions provide a way to control animation speed when changing CSS properties.*/
            transition: 0.4s;
        }
        a:hover {
            color:black;
        }
        a.active {
            color: black;
            text-decoration: underline;
        }

.container{
  /*styling the container*/
  justify-content: center;
  
  max-width: 800px;
  background: #fff;
  width: 800px;
  padding: 25px 40px 10px 40px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.container .text{
  text-align: center;
  font-size: 35px;
  /*making the text bigger*/
  font-weight: 600;
  
  /*making the text green*/
  -webkit-text-fill-color: green;
}
/*styling the container*/
.container form{
  padding: 30px 0 0 0;
}
/*styling the container*/
.container form .form-row{
  display: flex;
  margin: 32px 0;
}
/*styling the input data*/
form .form-row .input-data{
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}
form .form-row .textarea{
  height: 70px;
}
/*styling the text*/
.input-data input,
.textarea textarea{
  /*block makes it more uniform and neat*/
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0,0,0, 0.12);
}
.input-data input:focus ~ label, .textarea textarea:focus ~ label,
.input-data input:valid ~ label, .textarea textarea:valid ~ label{
  transform: translateY(-20px);
  font-size: 14px;
  /*making text green*/
  color:green
}
.textarea textarea{
  resize: none;
  padding-top: 10px;
}
.input-data label{
  /* /*Absolute positioning defines the position of a given bounding box from the top and left side margins of the web page* */
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}
.textarea label{
  width: 100%;
  bottom: 40px;
  background-color:white;
}
.input-data .underline{
  /*Absolute positioning defines the position of a given bounding box from the top and left side margins of the web page*/
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}
.input-data .underline:before{
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  /*makes the under line green to fit theme*/
  background-color: green;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
/*this is so it underlines when user is using it*/
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before{
  transform: scale(1);
}
/*detailing button*/
.submit-btn .input-data{
  overflow: hidden;
  height: 45px!important;
  width: 25%!important;
}
/*detailing button*/
.submit-btn .input-data .inner{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background-color: rgba(3, 134, 3, 0.558)
  transition all 0.4s;
}
/*detailing button*/
.submit-btn .input-data:hover .inner{
  left: 0;
}
/*detailing button*/
.submit-btn .input-data input{
  background-color: green;
  border: none;
  color:white;
  font-size: 17px;
  font-weight: 500;
  /* All letters are capital*/
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
/*styling the container*/
@media (max-width: 700px) {
  .container .text{
    font-size: 30px;
  }
  .container form{
    padding: 10px 0 0 0;
  }
  .container form .form-row{
    display: block;
  }
  form .form-row .input-data{
    margin: 35px 0!important;
  }
  /* styling the submit button. is used to add more importance to a property/value than normal*/
  .submit-btn .input-data{
    width: 40%!important;
  }
}
.contact-section {
    display: flex;
    justify-content: center;
}
/*styling button*/
.btn-primary {
    color: white;
    background-color: green;
    border: none;
    border-radius: .3em;
    font-weight: bold;
        }